/* PHASE 3: Content */

.content {
  width: 900px;
  margin: auto;
  border: 1px solid #aaa;
  border-bottom: none;
  background-color: white;
}

.content-sidebar {
  width: 200px;
  float: left;
  padding: 20px
}

.content-main {
  width: 620px;
  float: left;
  padding: 20px;
}

.content h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.content p {

}