/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* .buttons {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  
} */
/* container 
child empty on the left 
child on the right and will contain flex children
  flex children => left and right */


.container {
  display: flex;
  justify-content: space-between;
}

.containerright {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
}

.left {
  background-color: olive;
  border-radius: 5px;
}
.right {
  background-color: olive;
  border-radius: 5px;
}

nav {
    /* background-color: red; */
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
}

a.auth_buttons {
    margin-right:  10px;
    padding: 5px;
    border-radius: 5px;
}

a.signin {
  background-color: pink;
}

a.signup {
  background-color: palegreen;
}

a.auth_buttons:hover {
  background-color: aqua;
}

